.border {
    border: 2px solid rgba(198, 92, 92, 0.34);
    margin: 3px;
}

.flex {
    display: flex;
}

.items-centre {
    align-items: center;
}
.justify-centre {
    justify-content: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    color: white;
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.m-1{
    margin: 5px;
}

.rounded{
    border-radius: 7px;
}

.p-1{
    padding: 10px;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1d1d1d; 
}

::-webkit-scrollbar-thumb {
    background-color: #444242; 
    border-radius: 10px;
}